extends layout

block content
  main(class='d-flex justify-content-center mt-2 flex-wrap')
    for message in messages
      div(class='card bg-secondary mx-5 my-3' style="width: 48rem;")
        div(class='row g-2 justify-content-center')
          div(class='col-md-4 d-flex justify-content-center align-items-center')
            img(src="/images/user.png" class="img-fluid rounded-start" alt="..." style="width: 50%;")
          div(class='col-md-8')
            div(class='card-body text-dark')
              h5(class='card-title fs-3')=message.title
              p(class='card-text')=message.content
              p(class='card-text fs-5')=(user.member ? message.author.username: 'Anonymous')
              p(class='card-text fs-6')
                small #{message.timeStamp.toDateString()}

  if user
    footer 
      a(class='btn btn-info rounded-circle p-3' type='button' href='/new-message' id='addIcon')
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
