extends layout

block content
  main(class='d-flex justify-content-center mt-2 flex-wrap')
    div(class='card bg-secondary mx-5 my-3' style="width: 48rem;")
      div(class='row g-2 justify-content-center')
        div(class='col-md-4 d-flex justify-content-center align-items-center')
          img(src="/images/user.png" class="img-fluid rounded-start" alt="..." style="width: 50%;")
        div(class='col-md-8')
          div(class='card-body text-dark')
            h5(class='card-title fs-3') Card title
            p(class='card-text') Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, ducimus unde eveniet molestias commodi incidunt alias nihil voluptate! Accusamus, dolore.
            p(class='card-text fs-5') Author
            p(class='card-text fs-6')
              small Last updated 3 mins ago
