extends layout

block content
  form(action="", method="post" class='w-50 mx-auto text-white fs-5 mt-5 pt-5')
    h1(class='text-info text-center mb-4') Become a member
    div(class='mb-4 d-flex flex-column w-50 mx-auto')
      label(class='mb-2 form-label' for='memberPassword') Member passcode
      input(type='password' id='memberPassword' name='memberPassword' required class='form-control')
      button(type='submit' class='btn text-white bg-info my-5 w-50 mx-auto') Submit
  div(class='w-50 mx-auto')
  if error
    h4(class='text-light text-center')=error