body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li:hover,
#logout:hover {
  font-weight: bold;
  text-decoration: underline;
}

header,
form,
#logout {
  background-color: #212121;
}

#userHeader:hover {
  text-decoration: none;
  font-weight: normal;
}

footer {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

#logout {
  border: none;
}

#addIcon {
  animation: transform 0.3s;
}

#addIcon:hover {
  transform: scale(1.2);
}
